<li>
  <%= link_to 'Foods', foods_path, class: "nav-link" %>
</li>
<li>
  <%= link_to 'Recipes', recipes_path, class: "nav-link" %>
</li>
<li>
  <%= link_to 'My Profile', edit_user_registration_path, class: "nav-link" %>
</li>
<li>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link", title: 'Sign out' %>
</li>