<li class="recipe-list-item">
  <div>
    <%= link_to recipe.name, recipe_path(recipe), class: 'title' %>
    <%= button_to 'REMOVE', recipe_path(recipe), method: :delete, class: 'delete-btn' %>
  </div>
  <div>
    <p class="description"><%= recipe.description %></p>
  </div>
</li>
