<section class="wrapper">
  <div class="container">
    <h1 class="headline">My Recipes</h1>
    <%= link_to 'Create new recipe', new_recipe_path, class: 'recipe-create-btn' %>
    <ul class="recipe-list">
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
    </ul>
  </div>
</section>
