<%= turbo_frame_tag "recipe-foods-table-item-#{@recipe_food.id}" do %>
  <tr>
    <td><%= @recipe_food.food.name %></td>
    <td>
      <%= "#{@recipe_food.quantity}#{@recipe_food.food.measurement_unit}" %>
    </td>
    <td>$<%= @recipe_food.quantity * @recipe_food.food.unit_price %></td>
    <td>
      TEST
    </td>
  </tr>
<% end %>
