.recipe-create-btn {
  padding: 0.5rem;
  border: 1px solid;
  background-color: lightgray;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.recipe-list,
.recipe-list-item,
.recipe-details,
.recipe-public-toggle-wrapper,
.recipe-public-toggle-wrapper .button_to {
  display: flex;
}

.recipe-list {
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 0.5rem;
}

.recipe-list-item {
  border: 2px solid;
  padding: 1rem 2rem;
}

.recipe-list-item > :first-child {
  width: 40%;
}

.recipe-list-item > :last-child {
  width: 60%;
}

.recipe-list-item .title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  display: block;
  color: black;
}

.recipe-list-item .delete-btn {
  font-size: 1.3rem;
  text-align: center;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.recipe-list-item .description {
  font-size: 1.2rem;
}

.recipe-public-toggle-wrapper {
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
}

.recipe-public-toggle {
  width: 50px;
  height: 25px;
  position: relative;
  border-radius: 1rem;
  background-color: lightgray;
  cursor: pointer;
}

.recipe-public-toggle:before {
  content: '';
  width: 22px;
  top: 3px;
  bottom: 3px;
  position: absolute;
  border-radius: 50%;
}

.on:before {
  background-color: green;
  right: 3px;
}

.off:before {
  background-color: red;
  left: 3px;
}

.recipe-details {
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1rem;
}

.recipe-details-info {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.recipe-details-info span {
  font-weight: bold;
}
